<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9afd91a0-76b8-4860-84e6-e3f9dc84ee3a/resourceGroups/ProjectTrackingWebAPI/providers/Microsoft.Web/sites/ProductManagement-WebAPI-Demo</ResourceId>
    <ResourceGroup>ProjectTrackingWebAPI</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://productmanagement-webapi-demo.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://productmanagement-webapi-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ProductManagement-WebAPI-Demo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>